<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <NuGetPath>.nuget</NuGetPath>
    <PackagesDirectory>packages</PackagesDirectory>
    <XUnitPath>packages\xunit.runners.1.9.2\tools</XUnitPath>
    <ReleaseFolder>..\Release</ReleaseFolder>
  </PropertyGroup>
  <ItemGroup>
    <BuildOutput Include="..\Source\Sitecore.FakeDb\bin\Release\Sitecore.FakeDb.dll" />
  </ItemGroup>
  <ItemGroup>
    <TestAssemblies Include="..\Source\Sitecore.FakeDb.Tests\bin\Release\Sitecore.FakeDb.Tests.dll" />
  </ItemGroup>
  <ItemGroup>
    <ProjectToBuild Include="../Source/*.sln" />
  </ItemGroup>
</Project>