<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sitecore>
    <!-- SERIALIZATION FOLDERS -->
    <szfolders>
      <folder name="core" value="..\..\Data\CoreSerialization\core\" />
      <folder name="master" value="..\..\Data\Serialization\master\" />
      <folder name="custom" value="..\..\Data\CustomSerialization\master\" />
    </szfolders>
    <pipelines>
      <loadDsDbItem>
        <processor type="Sitecore.FakeDb.Serialization.Pipelines.DeserializeLinkedTemplate, Sitecore.FakeDb.Serialization" />
        <processor type="Sitecore.FakeDb.Serialization.Pipelines.CopySharedFields, Sitecore.FakeDb.Serialization" />
        <processor type="Sitecore.FakeDb.Serialization.Pipelines.CopyVersionedFields, Sitecore.FakeDb.Serialization" />
        <processor type="Sitecore.FakeDb.Serialization.Pipelines.DeserializeDescendants, Sitecore.FakeDb.Serialization" />
      </loadDsDbItem>
      <loadDsDbTemplate>
        <processor type="Sitecore.FakeDb.Serialization.Pipelines.LoadTemplateFields, Sitecore.FakeDb.Serialization" />
      </loadDsDbTemplate>
    </pipelines>
  </sitecore>
</configuration>