<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <NuGet>.nuget\nuget.exe</NuGet>
    <SourceFolder>src</SourceFolder>
    <TestFolder>test</TestFolder>
    <OutputDirectory>output</OutputDirectory>
    <XUnitPath>packages\xunit.runner.msbuild.2.0.0\build\portable-net45+win+wpa81+wp80+monotouch+monoandroid+Xamarin.iOS</XUnitPath>
    <ProjectToBuild>Sitecore.FakeDb.sln</ProjectToBuild>
    <FakeDbDir>$(SourceFolder)\Sitecore.FakeDb</FakeDbDir>
    <FakeDbTestsDir>$(TestFolder)\Sitecore.FakeDb.Tests</FakeDbTestsDir>
    <AutoFixtureTestsDir>$(TestFolder)\Sitecore.FakeDb.AutoFixture.Tests</AutoFixtureTestsDir>
    <NSubstituteTestsDir>$(TestFolder)\Sitecore.FakeDb.NSubstitute.Tests</NSubstituteTestsDir>
    <SerializationTestsDir>$(TestFolder)\Sitecore.FakeDb.Serialization.Tests</SerializationTestsDir>
    <FakeDbTestsOutDir>$(FakeDbTestsDir)\bin\Release</FakeDbTestsOutDir>
    <AutoFixtureTestsOutDir>$(AutoFixtureTestsDir)\bin\Release</AutoFixtureTestsOutDir>
    <NSubstituteTestsOutDir>$(NSubstituteTestsDir)\bin\Release</NSubstituteTestsOutDir>
    <SerializationTestsOutDir>$(SerializationTestsDir)\bin\Release</SerializationTestsOutDir>
    <NuGetXslt>Sitecore.FakeDb.nuget.xslt</NuGetXslt>
  </PropertyGroup>
</Project>