<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <NuGetPath>.nuget</NuGetPath>
    <WorkingDirectory>Source</WorkingDirectory>
    <PackagesDirectory>packages</PackagesDirectory>
    <XUnitPath>$(WorkingDirectory)\\packages\xunit.runners.1.9.2\tools</XUnitPath>
    <ReleaseFolder>Release</ReleaseFolder>
  </PropertyGroup>
  <ItemGroup>
    <BuildOutput Include="$(WorkingDirectory)\**\bin\Release\Sitecore.FakeDb.dll" />
  </ItemGroup>
  <ItemGroup>
    <TestAssemblies Include="$(WorkingDirectory)\**\bin\Release\*.Tests.dll" />
  </ItemGroup>
  <ItemGroup>
    <ProjectToBuild Include="$(WorkingDirectory)\*.sln" />
  </ItemGroup>
</Project>