<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <NuGet>.nuget\nuget.exe</NuGet>
    <PackagesDirectory>packages</PackagesDirectory>
    <SourceFolder>src</SourceFolder>
    <DeployFolder>deploy</DeployFolder>
    <XUnitPath>$(SourceFolder)\$(PackagesDirectory)\xunit.runner.msbuild.2.0.0\build\portable-net45+win+wpa81+wp80+monotouch+monoandroid+Xamarin.iOS</XUnitPath>
    <ProjectToBuild>$(SourceFolder)\Sitecore.FakeDb.sln</ProjectToBuild>
    <FakeDbDir>$(SourceFolder)\Sitecore.FakeDb</FakeDbDir>
    <FakeDbTestsDir>$(SourceFolder)\Sitecore.FakeDb.Tests</FakeDbTestsDir>
    <NSubstituteTestsDir>$(SourceFolder)\Sitecore.FakeDb.NSubstitute.Tests</NSubstituteTestsDir>
    <SerializationTestsDir>$(SourceFolder)\Sitecore.FakeDb.Serialization.Tests</SerializationTestsDir>
    <FakeDbTestsOutDir>$(FakeDbTestsDir)\bin\Release</FakeDbTestsOutDir>
    <NSubstituteTestsOutDir>$(NSubstituteTestsDir)\bin\Release</NSubstituteTestsOutDir>
    <SerializationTestsOutDir>$(SerializationTestsDir)\bin\Release</SerializationTestsOutDir>
    <NuGetXslt>$(SourceFolder)\Sitecore.FakeDb.nuget.xslt</NuGetXslt>
  </PropertyGroup>
</Project>