<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
  </configSections>
  <sitecore database="Fake">
    <dataStorage type="Sitecore.FakeDb.Data.Engines.DataStorage, Sitecore.FakeDb" singleInstance="true" />
    <!-- PIPELINES -->
    <pipelines>
      <!-- Analytics -->
      <loadVisitor />
    </pipelines>
    <dataProviders>
      <main type="Sitecore.FakeDb.Data.DataProviders.$(database)DataProvider, Sitecore.FakeDb">
        <param ref="dataStorage" />
      </main>
    </dataProviders>
    <!-- DATABASES -->
    <databases>
      <!-- core -->
      <database id="core" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
        </dataProviders>
      </database>
      <!-- master -->
      <database id="master" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
        </dataProviders>
        <Engines.DataEngine.Commands.AddFromtemplatePrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.AddFromTemplateCommand, Sitecore.FakeDb">
            <param ref="dataStorage" />
          </obj>
        </Engines.DataEngine.Commands.AddFromtemplatePrototype>
        <Engines.DataEngine.Commands.AddVersionPrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.AddVersionCommand, Sitecore.FakeDb" />
        </Engines.DataEngine.Commands.AddVersionPrototype>
        <Engines.DataEngine.Commands.CreateItemPrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.CreateItemCommand, Sitecore.FakeDb">
            <param ref="dataStorage" />
          </obj>
        </Engines.DataEngine.Commands.CreateItemPrototype>
        <Engines.DataEngine.Commands.DeletePrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.DeleteItemCommand, Sitecore.FakeDb">
            <param ref="dataStorage" />
          </obj>
        </Engines.DataEngine.Commands.DeletePrototype>
        <Engines.DataEngine.Commands.GetChildrenPrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.GetChildrenCommand, Sitecore.FakeDb">
            <param ref="dataStorage" />
          </obj>
        </Engines.DataEngine.Commands.GetChildrenPrototype>
        <Engines.DataEngine.Commands.GetItemPrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.GetItemCommand, Sitecore.FakeDb">
            <param ref="dataStorage" />
          </obj>
        </Engines.DataEngine.Commands.GetItemPrototype>
        <Engines.DataEngine.Commands.GetParentPrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.GetParentCommand, Sitecore.FakeDb">
            <param ref="dataStorage" />
          </obj>
        </Engines.DataEngine.Commands.GetParentPrototype>
        <Engines.DataEngine.Commands.GetRootItemPrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.GetRootItemCommand, Sitecore.FakeDb">
            <param ref="dataStorage" />
          </obj>
        </Engines.DataEngine.Commands.GetRootItemPrototype>
        <Engines.DataEngine.Commands.GetVersionsPrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.GetVersionsCommand, Sitecore.FakeDb" />
        </Engines.DataEngine.Commands.GetVersionsPrototype>
        <Engines.DataEngine.Commands.HasChildrenPrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.HasChildrenCommand, Sitecore.FakeDb">
            <param ref="dataStorage" />
          </obj>
        </Engines.DataEngine.Commands.HasChildrenPrototype>
        <Engines.DataEngine.Commands.ResolvePathPrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.ResolvePathCommand, Sitecore.FakeDb">
            <param ref="dataStorage" />
          </obj>
        </Engines.DataEngine.Commands.ResolvePathPrototype>
        <Engines.DataEngine.Commands.SaveItemPrototype>
          <obj type="Sitecore.FakeDb.Data.Engines.DataCommands.SaveItemCommand, Sitecore.FakeDb">
            <param ref="dataStorage" />
          </obj>
        </Engines.DataEngine.Commands.SaveItemPrototype>
      </database>
      <!-- web -->
      <database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
        </dataProviders>
      </database>
    </databases>
    <clientDataStore type="Sitecore.FakeDb.Configuration.FakeClientDataStore, Sitecore.FakeDb" />
    <!-- ITEM MANAGER -->
    <itemManager defaultProvider="default">
      <providers>
        <clear />
        <add name="default" type="Sitecore.Data.Managers.ItemProvider, Sitecore.Kernel" />
      </providers>
    </itemManager>
    <!-- DOMAINS -->
    <domainManager>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.SecurityModel.FakeDomainProvider, Sitecore.FakeDb" />
      </providers>
    </domainManager>
    <!-- SITES -->
    <siteManager defaultProvider="config">
      <providers>
        <clear />
        <add name="config" type="Sitecore.Sites.ConfigSiteProvider, Sitecore.Kernel" siteList="sites" checkSecurity="false" />
      </providers>
    </siteManager>
    <!-- STANDARD VALUES -->
    <standardValues defaultProvider="sitecore">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Data.StandardValuesProvider, Sitecore.Kernel" />
      </providers>
    </standardValues>
    <!-- AUTHENTICATION -->
    <authentication>
      <providers>
        <clear />
        <add name="switcher" type="Sitecore.Security.Authentication.SwitchingAuthenticationProvider, Sitecore.Kernel" />
      </providers>
    </authentication>
    <!-- AUTHORIZATION -->
    <authorization>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.AccessControl.FakeAuthorizationProvider, Sitecore.FakeDb" />
      </providers>
    </authorization>
    <!-- ACCESS RIGHTS -->
    <accessRights>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.AccessControl.FakeAccessRightProvider, Sitecore.FakeDb" />
      </providers>
    </accessRights>
    <settings>
      <setting name="LicenseFile" value="..\..\..\packages\Sitecore\license.xml" />
      <setting name="Caching.Enabled" value="false" />
    </settings>
    <!-- SEARCH -->
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ProviderIndexSearchConfiguration, Sitecore.ContentSearch" />
    </contentSearch>
  </sitecore>
  <log4net>
  </log4net>
</configuration>