<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore database="Fake">
    <!-- SETTINGS -->
    <settings>
      <setting name="LicenseFile" value="license.xml" />
      <setting name="Caching.Enabled" value="false" />
      <setting name="ItemNameValidation" value="^[\w\*\$][\w\s\-\$]*(\(\d{1,}\)){0,1}$" />
      <setting name="MaxWorkerThreads" value="0" />
      <setting name="FakeDb.AutoTranslate" value="false" />
      <setting name="FakeDb.AutoTranslatePrefix" value="" />
      <setting name="FakeDb.AutoTranslateSuffix" value="" />
    </settings>
    <!-- EVENTING -->
    <eventing defaultProvider="sitecore">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Eventing.EventProvider, Sitecore.Kernel" systemDatabaseName="core" />
      </providers>
    </eventing>
    <!-- LINK DATABASE -->
    <LinkDatabase type="Sitecore.FakeDb.Links.FakeLinkDatabase, Sitecore.FakeDb" />
    <!-- TASK DATABASE -->
    <TaskDatabase type="Sitecore.FakeDb.Tasks.FakeTaskDatabase, Sitecore.FakeDb" />
    <!-- ID TABLE -->
    <IDTable type="Sitecore.FakeDb.Data.IDTables.FakeIDTableProvider, Sitecore.FakeDb" singleInstance="true" />
    <!-- PIPELINES -->
    <pipelines>
      <initialize />
      <getFieldValue performanceCritical="true">
        <processor type="Sitecore.Pipelines.GetFieldValue.GetInheritedValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetFieldValue.GetStandardValue, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetFieldValue.GetDefaultValue, Sitecore.Kernel" />
      </getFieldValue>
      <getLayoutSourceFields>
        <processor type="Sitecore.Pipelines.GetLayoutSourceFields.GetFinalLayoutField, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetLayoutSourceFields.GetLayoutField, Sitecore.Kernel" />
      </getLayoutSourceFields>
      <!-- FakeDb -->
      <initFakeDb>
        <processor type="Sitecore.FakeDb.Pipelines.InitFakeDb.InitGlobals, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.Initialize.DisableLicenseWatcher, Sitecore.FakeDb" />
      </initFakeDb>
      <releaseFakeDb>
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ReleasePipelineWatcher, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ResetTemplateEngine, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ResetFactory, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.ReleaseFakeDb.ResetSettings, Sitecore.FakeDb" />
      </releaseFakeDb>
      <addDbItem>
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.SetStatistics, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.SetParent, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.CreateTemplate, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.EnsureIsChild, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.SetFullPath, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.AddVersion, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.SetAccess, Sitecore.FakeDb" />
        <processor type="Sitecore.FakeDb.Pipelines.AddDbItem.SetWorkflow, Sitecore.FakeDb" />
      </addDbItem>
      <getTranslation>
        <processor type="Sitecore.FakeDb.Pipelines.GetTranslation.GetFakeTranslation, Sitecore.FakeDb" />
      </getTranslation>
      <!-- Analytics -->
      <loadVisitor />
    </pipelines>
    <dataProviders>
      <main type="Sitecore.FakeDb.Data.DataProviders.$(database)DataProvider, Sitecore.FakeDb">
        <CacheOptions.DisableAll>true</CacheOptions.DisableAll>
      </main>
      <language type="Sitecore.FakeDb.Data.DataProviders.SwitchingLanguageDataProvider, Sitecore.FakeDb" />
    </dataProviders>
    <!-- DATABASES -->
    <databases>
      <!-- core -->
      <database id="core" type="$(databaseType)" singleInstance="true">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
          <dataProvider ref="dataProviders/language" />
        </dataProviders>
      </database>
      <!-- master -->
      <database id="master" type="$(databaseType)" singleInstance="true">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
          <dataProvider ref="dataProviders/language" />
        </dataProviders>
      </database>
      <!-- web -->
      <database id="web" type="$(databaseType)" singleInstance="true">
        <param desc="name">$(id)</param>
        <dataProviders hint="list:AddDataProvider">
          <dataProvider ref="dataProviders/main" />
          <dataProvider ref="dataProviders/language" />
        </dataProviders>
      </database>
    </databases>
    <archives defaultProvider="sql" enabled="true">
      <providers>
        <clear />
        <add name="sql" type="Sitecore.Data.Archiving.SqlArchiveProvider, Sitecore.Kernel" database="*" />
      </providers>
    </archives>
    <clientDataStore type="Sitecore.FakeDb.Configuration.ClientDataStoreStub, Sitecore.FakeDb" />
    <!-- CONFIG STORES -->
    <configStores>
      <add name="globalRoles" type="Sitecore.Configuration.XmlConfigStore, Sitecore.Kernel">
        <param>roles</param>
      </add>
    </configStores>
    <!-- ITEM MANAGER -->
    <itemManager defaultProvider="default">
      <providers>
        <clear />
        <add name="default" type="Sitecore.Data.Managers.ItemProvider, Sitecore.Kernel" />
      </providers>
    </itemManager>
    <!-- DOMAINS -->
    <domainManager>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.SecurityModel.FakeDomainProvider, Sitecore.FakeDb" />
      </providers>
    </domainManager>
    <!-- SITES -->
    <siteManager defaultProvider="config">
      <providers>
        <clear />
        <add name="config" type="Sitecore.Sites.ConfigSiteProvider, Sitecore.Kernel" siteList="sites" checkSecurity="false" />
      </providers>
    </siteManager>
    <!-- LINKS -->
    <linkManager defaultProvider="sitecore">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Links.LinkProvider, Sitecore.Kernel" addAspxExtension="true" alwaysIncludeServerUrl="false" encodeNames="true" languageEmbedding="asNeeded" languageLocation="filePath" lowercaseUrls="false" shortenUrls="true" useDisplayName="false" />
        <add name="switcher" type="Sitecore.FakeDb.Links.SwitchingLinkProvider, Sitecore.FakeDb" />
      </providers>
    </linkManager>
    <!-- STANDARD VALUES -->
    <standardValues defaultProvider="fake">
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Data.FakeStandardValuesProvider, Sitecore.FakeDb" />
      </providers>
    </standardValues>
    <!-- AUTHENTICATION -->
    <authentication defaultProvider="switcher">
      <providers>
        <clear />
        <add name="switcher" type="Sitecore.FakeDb.Security.Authentication.SwitchingAuthenticationProvider, Sitecore.FakeDb">
          <DefaultProvider type="Sitecore.FakeDb.Security.Authentication.FakeAuthenticationProvider, Sitecore.FakeDb" />
        </add>
      </providers>
    </authentication>
    <!-- ROLES -->
    <rolesInRolesManager>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.Accounts.FakeRolesInRolesProvider, Sitecore.FakeDb" globalRolesConfigStoreName="globalRoles" />
      </providers>
    </rolesInRolesManager>
    <!-- AUTHORIZATION -->
    <authorization>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.AccessControl.FakeAuthorizationProvider, Sitecore.FakeDb" />
      </providers>
    </authorization>
    <!-- ACCESS RIGHTS -->
    <accessRights>
      <providers>
        <clear />
        <add name="fake" type="Sitecore.FakeDb.Security.AccessControl.FakeAccessRightProvider, Sitecore.FakeDb" />
      </providers>
    </accessRights>
    <!-- SEARCH -->
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ProviderIndexSearchConfiguration, Sitecore.ContentSearch" />
    </contentSearch>
    <searchManager defaultProvider="switcher" enabled="true">
      <providers>
        <clear />
        <add name="switcher" type="Sitecore.FakeDb.ContentSearch.SwitchingSearchProvider, Sitecore.FakeDb" />
      </providers>
    </searchManager>
    <switchingProviders>
      <membership>
        <provider providerName="fake" storeFullNames="true" wildcard="%" domains="*" />
      </membership>
      <roleManager>
        <provider providerName="fake" storeFullNames="true" wildcard="%" domains="*" />
      </roleManager>
      <profile>
        <provider providerName="fake" storeFullNames="true" wildcard="%" domains="*" />
      </profile>
    </switchingProviders>
    <mediaLibrary>
      <!-- MEDIA PROVIDER -->
      <mediaProvider type="Sitecore.FakeDb.Resources.Media.FakeMediaProvider, Sitecore.FakeDb" />
    </mediaLibrary>
    <bucketManager defaultProvider="switcher" enabled="true">
      <providers>
        <clear />
        <add name="switcher" type="Sitecore.FakeDb.Buckets.SwitchingBucketProvider, Sitecore.FakeDb" />
      </providers>
    </bucketManager>
    <!-- FIELD TYPES -->
    <fieldTypes>
      <!-- Defines the releation between a field type name, e.g. "lookup", and an implementation class -->

      <!-- Simple Types -->
      <fieldType name="Checkbox" type="Sitecore.Data.Fields.CheckboxField,Sitecore.Kernel" />
      <fieldType name="Date" type="Sitecore.Data.Fields.DateField,Sitecore.Kernel" />
      <fieldType name="Datetime" type="Sitecore.Data.Fields.DateField,Sitecore.Kernel" />
      <fieldType name="File" type="Sitecore.Data.Fields.FileField,Sitecore.Kernel" />
      <fieldType name="Image" type="Sitecore.Data.Fields.ImageField,Sitecore.Kernel" />
      <fieldType name="Rich Text" type="Sitecore.Data.Fields.HtmlField,Sitecore.Kernel" resizable="true" />
      <fieldType name="Single-Line Text" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" />
      <fieldType name="Word Document" type="Sitecore.Data.Fields.WordDocumentField,Sitecore.Kernel" blob="true" />
      <fieldType name="Multi-Line Text" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
      <!-- List Types -->
      <fieldType name="Checklist" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" />
      <fieldType name="Droplist" type="Sitecore.Data.Fields.ValueLookupField,Sitecore.Kernel" />
      <fieldType name="Grouped Droplink" type="Sitecore.Data.Fields.GroupedDroplinkField,Sitecore.Kernel" />
      <fieldType name="Grouped Droplist" type="Sitecore.Data.Fields.GroupedDroplistField,Sitecore.Kernel" />
      <fieldType name="Multilist" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" />
      <fieldType name="Multilist with Search" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" />
      <fieldType name="Name Value List" type="Sitecore.Data.Fields.NameValueListField,Sitecore.Kernel" />
      <fieldType name="Treelist" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" />
      <fieldType name="Treelist with Search" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" />
      <fieldType name="TreelistEx" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" />
      <!-- Link Types -->
      <fieldType name="Droplink" type="Sitecore.Data.Fields.LookupField,Sitecore.Kernel" />
      <fieldType name="Droptree" type="Sitecore.Data.Fields.ReferenceField,Sitecore.Kernel" />
      <fieldType name="General Link" type="Sitecore.Data.Fields.LinkField,Sitecore.Kernel" />
      <fieldType name="General Link with Search" type="Sitecore.Data.Fields.LinkField,Sitecore.Kernel" />
      <fieldType name="Version Link" type="Sitecore.Data.Fields.VersionLinkField,Sitecore.Kernel" />
      <!-- Developer Types -->
      <fieldType name="Frame" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
      <fieldType name="Rules" type="Sitecore.Data.Fields.RulesField,Sitecore.Kernel" resizable="true" />
      <!-- System Types -->
      <fieldType name="Datasource" type="Sitecore.Data.Fields.DatasourceField,Sitecore.Kernel" />
      <fieldType name="Custom" type="Sitecore.Data.Fields.CustomCustomField,Sitecore.Kernel" />
      <fieldType name="Internal Link" type="Sitecore.Data.Fields.InternalLinkField,Sitecore.Kernel" />
      <fieldType name="Layout" type="Sitecore.Data.Fields.LayoutField,Sitecore.Kernel" />
      <fieldType name="Template Field Source" type="Sitecore.Data.Fields.TemplateFieldSourceField,Sitecore.Kernel" />
      <fieldType name="File Drop Area" type="Sitecore.Data.Fields.FileDropAreaField,Sitecore.Kernel" />
      <fieldType name="Page Preview" type="Sitecore.Data.Fields.PagePreviewField,Sitecore.Kernel" />
      <fieldType name="Rendering Datasource" type="Sitecore.Data.Fields.RenderingDatasourceField,Sitecore.Kernel" />
      <fieldType name="Thumbnail" type="Sitecore.Data.Fields.ThumbnailField,Sitecore.Kernel" />
      <fieldType name="Security" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
      <fieldType name="UserList" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
      <!-- Deprecated Types -->
      <fieldType name="html" type="Sitecore.Data.Fields.HtmlField,Sitecore.Kernel" resizable="true" />
      <fieldType name="link" type="Sitecore.Data.Fields.LinkField,Sitecore.Kernel" />
      <fieldType name="lookup" type="Sitecore.Data.Fields.LookupField,Sitecore.Kernel" />
      <fieldType name="reference" type="Sitecore.Data.Fields.ReferenceField,Sitecore.Kernel" />
      <fieldType name="text" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" />
      <fieldType name="memo" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" />
      <fieldType name="tree" type="Sitecore.Data.Fields.ReferenceField,Sitecore.Kernel" />
      <fieldType name="tree list" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" />
      <fieldType name="valuelookup" type="Sitecore.Data.Fields.ValueLookupField,Sitecore.Kernel" />
    </fieldTypes>
  </sitecore>
</configuration>
