<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
  </configSections>
  <sitecore>
    <factories>
      <factory id="nsubstitute" type="Sitecore.FakeDb.NSubstitute.NSubstituteFactory, Sitecore.FakeDb.NSubstitute" />
    </factories>
    <!-- AUTHENTICATION -->
    <authentication>
      <providers>
        <clear />
        <add name="mock" factory="nsubstitute" ref="Sitecore.Security.Authentication.AuthenticationProvider, Sitecore.Kernel" />
      </providers>
    </authentication>
    <!-- AUTHORIZATION -->
    <authorization>
      <providers>
        <clear />
        <add name="mock" factory="nsubstitute" ref="Sitecore.Security.AccessControl.AuthorizationProvider, Sitecore.Kernel" />
      </providers>
    </authorization>
    <!-- BUCKETS -->
    <bucketManager enabled="true">
      <providers>
        <clear/>
        <add name="mock" factory="nsubstitute" ref="Sitecore.Buckets.Managers.BucketProvider, Sitecore.Buckets" />
      </providers>
    </bucketManager>
  </sitecore>
  <log4net />
</configuration>