<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
  </configSections>
  <sitecore factory="nsubstitute">
    <factories>
      <factory id="nsubstitute" type="Sitecore.FakeDb.NSubstitute.NSubstituteFactory, Sitecore.FakeDb.NSubstitute" />
    </factories>
    <bucketManager enabled="true">
      <providers>
        <add name="mock" factory="$(factory)" ref="Sitecore.Buckets.Managers.BucketProvider, Sitecore.Buckets" />
      </providers>
    </bucketManager>
    <pipelines>
      <initFakeDb>
        <processor type="Sitecore.FakeDb.NSubstitute.Pipelines.InitFakeDb.InitProviderMock, Sitecore.FakeDb.NSubstitute" method="InitBucketProvider" />
      </initFakeDb>
      <releaseFakeDb>
        <processor type="Sitecore.FakeDb.NSubstitute.Pipelines.ReleaseFakeDb.ReleaseProviderMock, Sitecore.FakeDb.NSubstitute" method="ReleaseBucketProvider" />
      </releaseFakeDb>
    </pipelines>
  </sitecore>
  <log4net />
</configuration>