<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net471" />
  <package id="NUnit" version="3.4.1" targetFramework="net45" />
  <package id="NUnitLite" version="3.4.1" targetFramework="net45" />
  <package id="Sitecore.ContentSearch.ContentExtraction" version="9.2.0" targetFramework="net471" />
  <package id="Sitecore.Nexus.Licensing" version="2.0.6" targetFramework="net471" />
  <package id="System.Security.Cryptography.Xml" version="4.6.0" targetFramework="net471" />
</packages>