<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    <!-- SERIALIZATION FOLDERS -->
    <szfolders>
      <folder name="core" value="..\..\Data\CoreSerialization\core\" />
      <folder name="master" value="..\..\Data\Serialization\master\" />
      <folder name="custom" value="..\..\Data\CustomSerialization\master\" />
      <folder name="largeset" value="..\..\Data\LargeSetSerialization\master\" />
    </szfolders>
  </sitecore>
</configuration>